<!DOCTYPE html>
<html>
<head>
    <title>Materias de Carrera 1</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Materias de Carrera 1</h1>
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Semestre</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
            <tr>
                <td>{{ materia.Descripcion }}</td>
                <td>{{ materia.Semestre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
