#imguser {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#map{
    width: 100%;
    height: 100%;
}
.container-fluid{
    display: flex;
    background-color: white;
    width: 358px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar-toggler{
    padding-right: 0;
    border: none !important;
}
.bi.bi-list{
    display: flex;
    justify-content: center;
    width: 20px;
}
.bi.bi-list:hover{
    color: black !important; ;
}
.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}
.form-control {
    width: 260px;
    padding-left: 0px;
    border: none !important;
    box-shadow: none !important;
}
.col {
    display: flex;
    padding-right: 0px;
    padding-left:0px ;
}
.row{
    padding-left: 0px;
}