@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#imguser {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

body, html {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.icon-noti {
    margin-right: 12px;
}

.noti-container:hover > .icon-noti {
    color: dodgerblue;
}

.li-noti {
    border-bottom: 1px solid #f4f4f4;
}

.btn-notificacion.show {
    color: dodgerblue;
    border: none;
}

.footer-noti {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-footer {
    height: 30px;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 10;
}

.footer-noti > a {
    text-decoration: none;
    color: unset;
}

.footer-noti:hover > a {
    color: dodgerblue;
}

.campo-evento {
    width: 220px;
}

.noti-container {
    display: flex;
    align-items: center;
}

.container-fluid {
    display: flex;
    background-color: white;
    width: auto;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    height: 66px;
}

.navbar-toggler {
    padding-right: 0px;
    border: none !important;
}

.bi.bi-list {
    display: flex;
    justify-content: center;
    width: 20px;
}

.bi.bi-list:hover {
    color: black !important;;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-control {
    width: 260px;
    padding-left: 0px;
    border: none !important;
    box-shadow: none !important;
}

.form-evento {
    width: 100%;
    border: 1px solid #ced4da !important;
    padding-left: 12px;
}

.bordercheck {
    border: solid 1px;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.col-auto {
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
}

.col {
    display: flex;

}

.row {
    padding-left: 0px;
}

#btnfil {
    margin-left: 10px;
}

.btn-notificacion {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.51);
    font-size: 23px;
}

.btn-notificacion:hover {
    color: dodgerblue;
}

.selmate {
    display: flex;
    align-items: center;
}

.sellabel {
    margin-left: 10px;
    margin-right: 10px;
}

.container-agregar {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
}

.datetimepicker-input {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
    outline: none;
}

.input-group-text {
    cursor: pointer;
}

#btnmate {
    font-size: 13px;
    margin-top: 10px;
}

#materias {
    width: 5%;
}

.content-noti {
    width: 300px;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#notif {
    max-height: 355px;
}

.body-404 {
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
}

.btn-volver {

}

.container-404 > img {
    height: auto;
}

.container-404 {
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 40px 0;
}

.offcanvas-body {
    padding-top: 0;
}

.nav-link:hover {
    color: #3388ff;
}

.form-inicioSesion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.btn-invitado {
    margin-top: 10px;
}

.btn-cerrarSesion > a {
    text-decoration: none;
    color: white;
}

#notif::-webkit-scrollbar {
    width: 7px;
    background: white;
    border-radius: 12px;
}

#notif::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 10px;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

#offcanvasNavbar {
    width: 300px;
}

.modal-content {
    max-height: 650px;
}

.table-responsive {
    padding-left: 20px;
    padding-right: 20px;
}

.table-responsive::-webkit-scrollbar {
    width: 7px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(187, 187, 187, 0.8);
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.table-responsive.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.container-error {
    color: white;
    background-color: red;
    border-radius: 5px;
    padding-top: 7px;
    margin-right: 10px;
    padding-bottom: 7px;
}

.error-container {
    padding-right: 5px;
    padding-left: 5px;
}

.colsemestre {
    justify-items: center;
    align-content: center;
    align-items: center;

}

.div-login {
    background-color: rgba(255, 255, 255, 0.62);
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 35px 20px 35px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
}

#boton-google {
    width: 300px;
}

.texto-login {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.login-body {
    display: flex;
    background-image: url("../img/Login-background.png");
    background-size: cover;
    align-items: center;
}

.clasificacion {
    font-size: 30px;
}

#comentario {
    border: 1px solid gray !important;
    padding-left: 12px;
    max-height: 200px;
    width: 100% !important;
}

#notisModal {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #c5c5c5;
    max-width: 500px;
    max-height: 650px;
}

#notisModal:hover {
    background: #f4f4f4;

}

.clasificacion label {
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
}

.carousel {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.item {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.item.active {
    opacity: 1;
    display: block;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.caption {
    width: 100%;
    padding: var(--lx-space-01);
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

.btnCarousel {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    padding: 20px 30px 20px 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: rgba(16, 16, 14, 0.63);
    background-color: #ffffe6;
    transition: transform 0.2s ease-in-out;
}

.btnCarousel.prev {
    left: -5%;
    background: transparent;
    font-size: 20px;
}

.btnCarousel.next {
    background: transparent;
    right: -5%;
    font-size: 20px;
}

.btnCarousel:active,
.btnCarousel:focus {
    transform: translateY(-50%) scale(0.9);
}

.btnCarousel:hover {
    transform: translateY(-50%) scale(0.96);
    color: dodgerblue;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #242421;
    transition: background-color 0.2s ease;
}

.dot.active,
.dot:hover {
    background-color: dodgerblue;
}

.opcionesTutorial {
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
    padding: 20px 20px;
}

.tablaAcercaDe a {
    text-decoration: none;
    color: black;
}

.tablaAcercaDe tr:hover a {
    color: dodgerblue;
}

.tablaAcercaDe tr {
    height: 30px;
}

.tablaAcercaDe tr td {
    padding-left: 10px;
}

.tablaAcercaDe {
    width: 100%;
}

/* RESPONSIVE EN TELEFONOS*/
@media (max-width: 576px) {
    .container-fluid {
        width: 55%;
    }

    .dropdown-noti {
        top: 100% !important;
        right: 0 !important;
        left: auto !important;
        transform: translateX(13%);
    }

    #imguser {
        width: 30px;
        height: 30px;
    }

    .row {
        width: auto;
    }

    .col {
        width: 100%;
        padding-right: 0;
    }

    .d-flex {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form-control {
        font-size: 12px;
        width: 100% !important;
        padding-right: 0;
    }

    #btn-buscar {
        padding-left: 0;
        padding-right: 0;
    }

    #btnmate {
        font-size: 10px;
    }

    .selmate {
        flex-direction: column;
    }

    .cmbSemestre {
        margin-bottom: 10px;
    }

    #labelCarrera {
        margin-right: 28px;
    }

    .table-responsive {
        overflow: auto;
        font-size: 12px;
        padding: 0 10px 0 10px;
    }

    .container-agregar {
        flex-direction: column;
    }

    .input-group {
        flex-wrap: unset;
    }

    .tempus-dominus-widget {
        font-size: 12px;
    }

    .tempus-dominus-widget .date-container-days {
        grid-auto-rows: 35px;
    }

    .opcionesTutorial {
        padding: 20px 20px;
    }

    .div-login {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

}

.rating {
    display: block;
    justify-content: center;
    height: 35px;
    width: 200px;
}

.fa-star {
    cursor: pointer;
}


.clasificacion input[type="radio"] {
    display: none;
}

.clasificacion label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
    color: orange;
}

.clasificacion input[type="radio"]:checked ~ label {
    color: orange;
}